.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid gray;
  padding: 1rem;
  width: 400px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.user-card strong {
  margin-top: 20px;
  font-size: 1.5rem;
}

.btn-card {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.btn-card:hover {
  opacity: 0.8;
}

.verify {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.following {
  background-color: blueviolet;
  color: white;
}

.unfollowing {
  background-color: lightgray;
  color: gray;
}
